<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Don't Eat Alone</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#2CC7C1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery Code -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Materialize CDN for the modal  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" integrity="sha256-3AnlRNIdX11hf3yyjAb12b2Tac0VmZxGxpVRURyJIAw=" crossorigin="anonymous" />
    <!-- Google Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- WE ARE USING TWO CSS FRAMEWORKS IN THIS APP, FROM MATERIALIZE AND PURE CSS, WITH PURE CSS BEING THE DOMINANT ONE -->
    <!-- MATERILIZE CDN IS PLACED BEFORE CSS FILES FROM PURE CSS DUE TO CSS CASCADING ORDER, THE RULES FROM THE LATTER FILE WILL OVERWRITE THE FORMER ONE -->
    <!-- CSS files -->
    <!-- Template CSS file -->
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- Our CSS file -->
    <link rel="stylesheet" href="../../app/public/css/style.css" type="text/css" />
    <!-- Javascript files -->
    <!-- Template Javascript files -->
    <script src="../../app/public/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="../../app/public/js/vendor/webfontloader.js"></script>
    <script src="../../app/public/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.transition.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.carousel.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.collapse.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.dropdown.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.tab.js"></script>
    <!-- Javascript file for animated logo on the front page -->
    <script src="../../app/public/js/vendor/jquery.drawsvg.js"></script>
    <script src="../../app/public/js/default.js"></script>
    <!-- Our own Javascript file scripts are put into the corresponding handlebars files -->
</head>

<body>
    <!-- Dynamically ADD CONTENT HERE using handlebars -->
    <!-- Modal structure -->
    <!-- Sign UP modal, using Materialize Framework -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="animated slideInLeft" id="square">
                <div class="animated bounceInUp" id="leftSquare">
                    <div class="animated bounceInUp" id="circle">
                        <img class="brand img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/branding.png" />
                    </div>
                    <h2 id="title">Welcome to Don't Eat Alone</h2>
                    <h3 id="subtitle">You are moments away from finding a great dining partner</h3>
                </div>
                <div class="animated bounceInDown" id="rightSquare">
                    <div id="container">
                        <h1 class="signup">Sign Up </h1>
                        <form className="animated slideInLeft">
                            <input class="optin" type="text" placeholder="name" />
                            <input class="optin" type="text" placeholder="email" />
                            <input class="optin" type="password" placeholder="password" /> </form>
                        <button class="animated infinite pulse button btn btn-info">
                            <span><i class="fa fa-twitter" aria-hidden="true"></i></span><span id="twitter">Sign in with Twitter</span>
                        </button>
                        <h3 id="footer">By continuing you agree to our <span id="terms">terms & conditions.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign IN modal, using Materialize Framework -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4 class="teal-text text-darken-2">Sign In</h4>
            <input id="txtEmail" type="email" placeholder="Email">
            <input id="txtPassword" type="password" placeholder="Password">
            <button class="btnLogin" class="btn btn-action">Sign In</button>
            <!-- if click cancel, close the modal -->
            <button href="#!" class="btn btn-action">Cancel</button>
            <p id="user-message"></p>
        </div>
    </div>
    <!-- ============ -->
    <!-- static header -->
    <!-- ============ -->
    <div class="grey-row" style="background-color:#f26c39">
        <div class="register-block pad-top-5 pad-bottom-5 container text-center">
            <h2 class="uppercase" style="color:white">Don't Eat Alone</h2>
        </div>
    </div>
    <!-- body content -->
    <div id="find-banner" class="banner pad-top-45 pad-bottom-45 pad-top-60-m pad-bottom-60-m">
        <div class="container text-center pad-top-20-m pad-bottom-20-m pad-top-55-l pad-bottom-55-l">
            <!-- SUB HEADERS -->
            <h2 id="find-welcome" class="banner-heading">
            	Welcome, User
            	<!-- dynamically generate "Welcome, [name]" on the DOM here -->
            </h2>
            <p class="fs-4 col-8-m col-6-l no-float center">
                Last step... Please confirm your location
            </p>
            <div class="banner-buttons">
                <a class="button button-primary" href="#modal1"><span class="icon icon-right chevron-right">Yes, I am here. Find me some friends</span></a>
                <a class="button" href="#modal2">No, I am not here. I will enter my location</a>
            </div>
        </div>
    </div>
    <!-- Static footer -->
    <div class="footer-block">
        <div class="footer pad-top-60 pad-bottom-60">
            <div class="container-full">
                <div class="clear footer-content-blocks">
                    <div class="footer-content-block col-4-m col-5-l">
                        <div class="col-11-l no-float-l">
                            <h3 class="fs-4 h-white">Don't eat alone</h3>
                            <p class="no-margin">
                                No one should eat alone. Find a conversation partner here.
                            </p>
                        </div>
                    </div>
                    <div class="footer-content-block col-4-m col-4-l">
                        <div class="col-10-l no-float-l">
                            <!-- this div serves as a spacer -->
                        </div>
                    </div>
                    <div class="footer-content-block col-4-m col-3-l" style="float: right" >
                        <div class="col-12-l no-float-l">
                            <h3 class="fs-4 h-white">Get In Touch</h3>
                            <ul class="contact-list">
                                <li><a class="footer-link icon icon-left icon-phone" href="#">+62 853 539 2001</a></li>
                                <li><a class="footer-link icon icon-left icon-email" href="#">DontEatAlone@eat.com</a></li>
                                <li><a class="footer-link icon icon-left icon-skype" href="#">DEAsupport</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>
                    @ Copyright 2017 Uyen Lam, Tyler Yonke, Chad Chaney
                </p>
            </div>
        </div>
    </div>
</body>
<!-- Custom Script -->
<script src="../../app/public/js/welcome.js" type="text/javascript"></script>

</html>
