<!-- ********************************************************************* -->
<!-- WE ARE USING TWO CSS FRAMEWORKS IN THIS APP, FROM MATERIALIZE AND PURE CSS, WITH PURE CSS BEING THE DOMINANT ONE -->
<!-- MATERILIZE CDN IS PLACED BEFORE CSS FILES FROM PURE CSS DUE TO CSS CASCADING ORDER, THE RULES FROM THE LATTER FILE WILL OVERWRITE THE FORMER ONE -->
<!-- ********************************************************************* -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Don't Eat Alone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery Code -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Materialize CDN for the modal and static header -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" integrity="sha256-3AnlRNIdX11hf3yyjAb12b2Tac0VmZxGxpVRURyJIAw=" crossorigin="anonymous" />
    <!-- Google Icons for Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- PURE CSS CDN for the request management portal -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" crossorigin="anonymous">
    <!-- CSS files -->
    <!-- Our CSS file, this includes PURE CSS file for the request management portal -->
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
    <!-- Template CSS file, this includes Base CSS file for the general template-->
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />
    <!-- Javascript files -->
    <!-- Template Javascript files -->
    <script src="../../app/public/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="../../app/public/js/vendor/webfontloader.js"></script>
    <script src="../../app/public/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.transition.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.carousel.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.collapse.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.dropdown.js"></script>
    <script src="../../app/public/js/vendor/bootstrap.tab.js"></script>
    <!-- Javascript file for animated logo on the front page -->
    <script src="../../app/public/js/vendor/jquery.drawsvg.js"></script>
    <script src="../../app/public/js/default.js"></script>
    <!-- Our own Javascript file scripts are put into the corresponding handlebars files -->
</head>

<body>
    <!-- ============ -->
    <!-- static header -->
    <!-- ============ -->
    <div class="grey-row" style="background-color:#f26c39">
        <div class="register-block pad-top-5 pad-bottom-5 container text-center">
            <h2 class="uppercase" style="color:white">Don't Eat Alone</h2>
        </div>
    </div>
    <!-- ============ -->
    <!-- body content -->
    <!-- ============ -->
    <div id="layout" class="pure-g container" style="margin: 0px">
        <!-- THIS IS THE REQUEST MANAGEMENT PANEL ON THE LEFT SIDE OF THE PAGE -->
        <div id="list" class="col-2-l pure-u-1">
            <div class="email-item email-item-selected pure-g">
                <div class="pure-u">
                    <img width="64" height="64" class="email-avatar" src="http://cdn04.cdn.justjaredjr.com/wp-content/uploads/headlines/2016/01/watson-book.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">Emma Watson</h5>
                    <h4 class="email-subject">Junior Developer</h4>
                    <p class="email-desc">
                        I love pizzas
                    </p>
                </div>
            </div>
            <div class="email-item email-item-unread pure-g">
                <div class="pure-u">
                    <img width="64" height="64" alt="Eric Ferraiuolo&#x27;s avatar" class="email-avatar" src="http://moviesdrop.com/wp-content/uploads/2013/09/Johnny-Depp-Facts.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">Eric Ferraiuolo</h5>
                    <h4 class="email-subject">Re: Pull Requests</h4>
                    <p class="email-desc">
                        Hey, I had some feedback for pull request #51. We should center the menu so it looks better on mobile.
                    </p>
                </div>
            </div>
            <div class="email-item email-item-unread pure-g">
                <div class="pure-u">
                    <img width="64" height="64" alt="YUI&#x27;s avatar" class="email-avatar" src="http://www.dbdvfoundation.org/uploads/images/betsy-devos.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">YUI Library</h5>
                    <h4 class="email-subject">You have 5 bugs assigned to you</h4>
                    <p class="email-desc">
                        Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla.
                    </p>
                </div>
            </div>
            <div class="email-item pure-g">
                <div class="pure-u">
                    <img width="64" height="64" alt="Reid Burke&#x27;s avatar" class="email-avatar" src="https://pbs.twimg.com/media/CPoZuqVUkAA-oMl.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">Reid Burke</h5>
                    <h4 class="email-subject">Re: Design Language</h4>
                    <p class="email-desc">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                    </p>
                </div>
            </div>
            <div class="email-item pure-g">
                <div class="pure-u">
                    <img width="64" height="64" alt="Andrew Wooldridge&#x27;s avatar" class="email-avatar" src="https://s-media-cache-ak0.pinimg.com/736x/68/91/33/6891336194daa4df5b0d187290578a72.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">Andrew Wooldridge</h5>
                    <h4 class="email-subject">YUI Blog Updates?</h4>
                    <p class="email-desc">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    </p>
                </div>
            </div>
            <div class="email-item pure-g">
                <div class="pure-u">
                    <img width="64" height="64" alt="Yahoo! Finance&#x27;s Avatar" class="email-avatar" src="http://media.tumblr.com/tumblr_lya6dso53x1r04c2g.jpg">
                </div>
                <div class="pure-u-3-4">
                    <h5 class="email-name">Yamashita Tomohisa</h5>
                    <h4 class="email-subject">How to protect your finances from winter storms</h4>
                    <p class="email-desc">
                        Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris.
                    </p>
                </div>
            </div>
        </div>
        <!-- THIS IS THE LIST OF ALL USERS AT THE LOCATION ON THE RIGHT SIDE OF THE PAGE -->
        <div id="main" class="col-9-l pure-u-1 banner">
            <!-- Dynamically generate user profiles  -->
            <div class="speakers-block container" style="width:auto">
                <div class="text-center pad-top-20">
                    <h2 class="h2 uppercase">Great people at your location</h2>
                    <p class="fs-4">
                        Click on each profile for more information
                    </p>
                </div>
                <ul class="event-speakers clear">
                    <li class="col-6-m col-3-l">
                        <div class="col-12-m no-float">
                            <a class="event-speaker" href="#">
                                <img class="block" src="http://iv1.lisimg.com/image/1096151/378full-yuya-tegoshi.jpg">
                            </a>
                            <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="#">Tegoshi Yuya</a></h3>
                            <p>
                                Idol and soccer player
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============ -->
    <!-- body footer -->
    <!-- ============ -->
    <div class="footer-block">
        <div class="footer pad-top-60 pad-bottom-60">
            <div class="container-full">
                <div class="clear footer-content-blocks">
                    <div class="footer-content-block col-4-m col-5-l">
                        <div class="col-11-l no-float-l">
                            <h3 class="fs-4 h-white">Don't eat alone</h3>
                            <p class="no-margin">
                                No one should eat alone. Find a conversation partner here.
                            </p>
                        </div>
                    </div>
                    <div class="footer-content-block col-4-m col-4-l">
                        <div class="col-10-l no-float-l">
                            <!-- this div serves as a spacer or a google map-->
                        </div>
                    </div>
                    <div class="footer-content-block col-4-m col-3-l" style="float: right">
                        <div class="col-12-l no-float-l">
                            <h3 class="fs-4 h-white">Get In Touch</h3>
                            <ul class="contact-list">
                                <li><a class="footer-link icon icon-left icon-phone" href="#">+62 853 539 2001</a></li>
                                <li><a class="footer-link icon icon-left icon-email" href="#">hi@eventide.com</a></li>
                                <li><a class="footer-link icon icon-left icon-skype" href="#">Eventidesupport</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>
                    @ Copyright 2017 Uyen Lam, Tyler Yonke, Chad Chaney
                </p>
            </div>
        </div>
    </div>
</body>

</html>
<!-- Custom Script -->
<script src="../../app/public/js/onlineusers.js" type="text/javascript"></script>
