<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Don't Eat Alone</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#2CC7C1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

	<!-- jQuery Code -->
		<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Materialize CDN for the modal  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" integrity="sha256-3AnlRNIdX11hf3yyjAb12b2Tac0VmZxGxpVRURyJIAw=" crossorigin="anonymous" />

	<!-- Google Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- WE ARE USING TWO CSS FRAMEWORKS IN THIS APP, FROM MATERIALIZE AND PURE CSS, WITH PURE CSS BEING THE DOMINANT ONE -->
	<!-- MATERILIZE CDN IS PLACED BEFORE CSS FILES FROM PURE CSS DUE TO CSS CASCADING ORDER, THE RULES FROM THE LATTER FILE WILL OVERWRITE THE FORMER ONE -->

	<!-- CSS files -->
		<!-- Template CSS file -->
		  <link rel="stylesheet" href="../public/css/styles.css">
			<!-- Our CSS file -->
			<link rel="stylesheet" href="../../public/css/style.css" type="text/css" />

		<!-- Javascript files -->

		<!-- Template Javascript files -->
			<script src="../../public/js/vendor/jquery-1.11.3.min.js"></script>
			<script src="../../public/js/vendor/webfontloader.js"></script>

			<script src="../../public/js/vendor/jquery.mobile.custom.min.js"></script>
			<script src="../../public/js/vendor/bootstrap.transition.js"></script>
			<script src="../../public/js/vendor/bootstrap.carousel.js"></script>
			<script src="../../public/js/vendor/bootstrap.collapse.js"></script>
			<script src="../../public/js/vendor/bootstrap.dropdown.js"></script>
			<script src="../../public/js/vendor/bootstrap.tab.js"></script>
			<!-- Javascript file for animated logo on the front page -->
			<script src="../../public/js/vendor/jquery.drawsvg.js"></script>

			<script src="../../public/js/default.js"></script>

		<!-- Our own Javascript file scripts are put into the corresponding handlebars files -->

</head>


<body>
<!-- static header -->
	<div>
		<nav class="fixed-nav-bar">
		    <div class="nav-wrapper teal lighten-4 ">
		      <a href="#" class="brand-logo"><i class="material-icons" style="font-size: 60px;">cloud_circle</i></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="index.html">Home</a></li>
		        <li><a href="destination.html">Map and Dining</a></li>
		        <li><a href="takemeaway.html">Take Me Away</a></li>
		        <li><a id="login-status" href="#modal1">Login</a></li>
		      </ul>
		    </div>
		  </nav>
	</div>

<!-- Dynamically ADD CONTENT HERE using handlebars -->
{{{ body }}}

<!-- Static footer -->
	<div class="footer-block">
	  <div class="footer pad-top-60 pad-bottom-60">
	    <div class="container-full">
	      <div class="clear footer-content-blocks">

	        <div class="footer-content-block col-4-m col-5-l">
	          <div class="col-11-l no-float-l">
	            <h3 class="fs-4 h-white"><strong>203</strong>Don't eat alone</h3>
	            <p class="no-margin">
	              No one should eat alone. Find a conversation partner here.
	            </p>
	          </div>
	        </div>

	        <div class="footer-content-block col-4-m col-4-l">
	          <div class="col-10-l no-float-l">
	            <!-- this div serves as a spacer -->
	          </div>
	        </div>

	        <div class="footer-content-block col-4-m col-3-l">
	          <div class="col-12-l no-float-l">
	            <h3 class="fs-4 h-white">Get In Touch</h3>
	            <ul class="contact-list">
	              <li><a class="footer-link icon icon-left icon-phone" href="#">+62 853 539 2001</a></li>
	              <li><a class="footer-link icon icon-left icon-email" href="#">hi@eventide.com</a></li>
	              <li><a class="footer-link icon icon-left icon-skype" href="#">Eventidesupport</a></li>
	            </ul>
	          </div>
	        </div>

	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	      <p>
	        @ Copyright 2017 Uyen Lam, Tyler Yonk, Chad Chaney
	      </p>
	    </div>
	  </div>
	</div>

</body>
</html>
